<div class="card card-category">
    <a href="{{url}}" class="card-link" aria-label="{{#str}} viewcategory, block_card_courses, {{name}} {{/str}}">
        <img src="{{image_url}}" alt="" class="card-image" role="presentation">
        <div class="card-content">
            <h3 class="card-title">{{name}}</h3>
            <div class="card-description">{{{description}}}</div>
            <div class="card-meta">
                <span>{{course_count}} {{#str}} courses, block_card_courses {{/str}}</span>
            </div>
        </div>
    </a>
</div>