<div class="category-view">
    <div class="category-header">
        <h1>{{category.name}}</h1>
        <div class="category-description">{{{category.description}}}</div>
    </div>
    
    <div class="courses-grid">
        {{#courses}}
            {{> block_card_courses/course_card}}
        {{/courses}}
    </div>
</div>