<div class="card card-course">
    <a href="{{url}}" class="card-link" aria-label="{{#str}} viewcourse, block_card_courses, {{fullname}} {{/str}}">
        <img src="{{image_url}}" alt="" class="card-image" role="presentation">
        <div class="card-content">
            <h3 class="card-title">{{fullname}}</h3>
            <div class="card-description">{{{summary}}}</div>
        </div>
    </a>
</div>