
</div><div class="course-card" data-courseid="{{id}}">
    <a href="{{url}}" class="course-link" aria-label="{{#str}}viewcourse, block_card_courses, {{fullname}}{{/str}}">
        <div class="course-image-container">
            <img src="{{image_url}}" alt="" class="course-image" 
                 onerror="this.onerror=null;this.src='{{config.wwwroot}}/theme/image.php/boost/block_card_courses/defaultcourse/{{#str}}defaultcourse, block_card_courses{{/str}}';">
        </div>
        <div class="course-content">
            <h4 class="course-title">{{fullname}}</h4>
            <div class="course-description">{{{summary}}}</div>
        </div>
    </a>
    </div>