<div class="card-container">
    {{#categories}}
        {{> block_card_courses/category_card}}
    {{/categories}}
    
    {{#courses}}
        {{> block_card_courses/course_card}}
    {{/courses}}
</div>